html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  /* width: 100%; */
  /* height: auto; */
}

a {
  /* margin: .3rem .5rem; */
  /* color: inherit; */
  text-decoration: none;
  /* width: 20%; */
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.h2 {
  /* margin-top: .5rem; */
  color: rgb(236, 234, 245);
  font-family: 'Raleway', sans-serif;
}

.h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
  color: rgb(240, 127, 255);
  text-align: end;
}

.p{
  margin-bottom: 1rem;
  /* text-align: justify; */
}

.contenedor_slider {
  height: 83vh;
  width: 100%;
}