html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  /* width: 100%; */
  /* height: auto; */
}

a {
  /* margin: .3rem .5rem; */
  color: inherit;
  text-decoration: none;
  width: 20%;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.h2 {
  margin-top: .5rem;
  color: aquamarine;
  text-align: center;
}

.h3 {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Shizuru', cursive;
  color: aquamarine;
}

.p{
  margin-bottom: .5rem;
}

.contenedor_slider {
  height: 83vh;
  width: 100%;
}