.navbar {
  height: 10vh;
  width: 100%;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}

.slider {
  height: 80vh;
  width: 100%;
}

.slider_movie_info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  height: 100%;
}

.slider_movie_datos {
  background-color: rgba(0, 0, 0, 0.836);
  width: 70%;
  padding: 20px;
}
